<%- include ("./components/header.ejs") %>
<div class="container">
	<div class="box">
		<div class="flex items-center justify-center">
			<img
				src="https://sundar-clinic.herokuapp.com/assets/logo/logoSmall.png"
				alt="Sundar Clinic Logo"
				class="logoSvg"
			/>
		</div>
		<header class="text-center">
			<h1>Welcome on board!</h1>
			<p>Hey <%=fullName%>!</p>
			<p>Please confirm your email to activate your new account</p>
		</header>
		<hr />
		<p>Confirm you account by clicking the button below:</p>
		<a
			href="<%=reactAppUrl%>/verifyAccount/authToken=<%=token%>"
			class="btn"
			>Verify Account</a
		>
		<p>Alternatively click or copy and paste this link in your browser:</p>
		<a href="<%=reactAppUrl%>/verifyAccount/authToken=<%=token%>"
			><%=reactAppUrl%>/verifyAccount/authToken=<%=token%></a
		>
		<hr />
		<p class="text-center">
			Your healthcare partners at Sundar Clinic.
			<span class="text-red">❤</span>
		</p>
	</div>
<%- include ("./components/footer.ejs") %>
